{{> header }}

{{> desktop-nav }}

{{> mobile-nav}}

{{#if galleryEdit}}

<div class="galleryEdit">

	<img src="{{ galleryEdit.link }}"/>
	
	<p>Author: {{ galleryEdit.author}}</p>

	<p>Description: {{ galleryEdit.description }} </p>

</div>

{{/if}}

<form id="editContent" action="http://localhost:3000/gallery/{{ galleryEdit.id }}/?_method=PUT" method="post" enctype="application/x-www-form-urlencoded">
	<label for="link">Link</label>
		<input id="link" type="text" value={{ galleryEdit.link }}><br>

	<label for="author">Author</label>
		<input id="author" type="text" value="{{ galleryEdit.author }}"><br>

	<label for="description">Description</label>
		<textarea id="description" type="text">{{ galleryEdit.description }}</textarea> <br>

	<button type="submit">Edit</button>

	<form id="cancel" action="http://localhost:3000/gallery/{{ galleryEdit.id }}" method="get" enctype="application/x-www-form-urlencoded">
	
	<button  type="submit">Cancel</button>

</form>

</form>