<div id="gallery_index">

{{> header }}

<form action="http://localhost:3000/gallery/new" method="GET" enctype="application/x-www-form-urlencoded">
	<button id="addImg" >Add Image</button>
</form>

{{#each galleryIndex}}

<div class="galleryIndex">
	
<a href="gallery/{{id}}">

	<img src=" {{ link }}" alt=" Image by {{ author }}" height="400" width="auto">

</a>

	<p>{{ author}}</p>

	<p>{{ link }} </p>

</div>

{{/each}}

</div>