{{> header }}

{{> desktop-nav }}

{{> mobile-nav }}

{{#with viewImg}}

<div id="viewImg">
	
	<p id="author">{{ author }} – </p>

	<p id="link"> {{ link }} </p>
	
	<img src="{{ link }}" height="400" width="auto" />

	<p class="description">{{ description }} </p>
		
	<form action="/gallery/{{id}}/edit" id="editForm">
	<button id="editBtn" type="submit">Edit</button>
	</form>

	<form id="deleteForm" action="http://localhost:3000/gallery/{{id}}?_method=DELETE" method="post" enctype="application/x-www-form-urlencoded">
		
		<button id="deleteBtn" type="submit">Delete</button>

	</form>

</div>

{{/with}}

<div id="images-container">
	
	{{#each images }}

		<div class="images">
			
			<a href="/gallery/{{id}}">
				<img src="{{ link }}" alt="{{ description }}" height="400" width="auto">
			</a>

			<p class="author-link">{{ author }} –– {{ link }}</p>

		</div>

	{{/each}}

</div>