<h1>Image</h1>

{{#if galleryView}}

<div class="galleryView">
	
	<p>{{ galleryView.author}}</p>

	<p> {{ galleryView.link }} </p>
	
	<img src="{{ galleryView.link }}" height="400" width="auto" />

	<p>{{ galleryView.description }} </p>

</div>

{{/if}}

<form action="http://localhost:3000/gallery/{{galleryView.id}}/edit" method="get" enctype="application/x-www-form-urlencoded">
	
	<button type="submit">Edit</button>

</form>

<form action="http://localhost:3000/gallery/{{galleryView.id}}?_method=DELETE" method="post" enctype="application/x-www-form-urlencoded">
	
	<button type="submit">Delete</button>

</form>

<form action="http://localhost:3000/gallery" method="GET" enctype="application/x-www-form-urlencoded">
	
	<button type="submit">Return to Gallery</button>

</form>