{{> header }}

{{> mobile-nav}}

<div id="index">

{{#each galleryIndex}}

<div class="galleryIndex">
	
<a href="gallery/{{id}}">

	<img src=" {{ link }}" alt=" Image by {{ author }}">

</a>

		<p class="author-link">{{ author}} -- {{ link }}</p>

	

</div>

{{/each}}

</div>